
<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Editar Usuário</title>
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container">
			<div class="panel-header" align="center">
				<h2>Editar Usuário</h2>
				<hr />
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:object="${usuario}"
					th:action="@{/usuarios/salvarUsuario}" method="POST"
					style="margin: 10px">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<div class="alert alert-danger"
									th:if="${#fields.hasAnyErrors()}">
									<div th:each="detailedError : ${#fields.detailedErrors()}">
										<span th:text="${detailedError.message}"></span>
									</div>
								</div>
							</div>
							<div class="form-group row">
							<!-- 
								<div class="col-md-4">
									<label>ID</label> <input type="text"
										class="form-control input-sm" id="idUsuario"
										th:field="*{idUsuario}" readOnly="readonly" />
								</div>
								 -->

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{nomeUsuario}')}? 'has-error'">
									<label>Nome do Usuario</label> <input type="text"
										class="form-control input-sm" th:field="*{nomeUsuario}"
										autofocus="autofocus" placeholder="Informe o nome do usuário"
										maxlength="50" />
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{lotacaoUsuario}')}? 'has-error'">
									<label>Lotação Usuário</label> <input type="text"
										class="form-control input-sm" th:field="*{lotacaoUsuario}"
										placeholder="Informe a lotação do usuário. Ex.: DIASI"
										autofocus="autofocus" />
								</div>
							</div>

						</fieldset>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<a th:href="@{/usuarios}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
				<div>
					<hr />
					<h2>Schemas</h2>
					<table class="table" id="tblSchemasUsuario">
						<thead>
							<tr>
								<th>Base</th>
								<th>Schema</th>
								<th>Data de Criação</th>
								<th>Data de Expiração</th>
								<th>Ativo</th>
								<th>Chamado Solicitante</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="schema : ${schemasUsuario}">
								<td th:text="${schema.schema.base.nomeBase}"></td>
								<td th:text="${schema.schema.nomeSchema}"></td>
								<td th:text="${schema.dataCriacao}"></td>
								<td th:text="${schema.dataExpiracao}"></td>
								<td th:text="${schema.ativo ? 'Sim' : 'Não'}"></td>
								<td th:text="${schema.chamadoSolicitante}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="form-group row">
					<hr />
					<form class="form-horizontal" th:object="${schemaUsuario}"
						th:action="@{/usuarios/salvarSchemaUsuario}" method="POST"
						style="margin: 10px">
						<h3>Vincular Schema</h3>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<label>Schema</label> <select class="form-control input-sm"
								th:field="*{id.schema}">
								<option th:value="${schemaLoop.idSchema}"
									th:each="schemaLoop : ${schemas}"
									th:utext="${schemaLoop.nomeSchema}+' - Base: '+${schemaLoop.base.nomeBase}" />
							</select>
						</div>
						<div class="col-md-4">
							<label>Data Expiracao</label> <input type="date"
								class="form-control input-sm" th:field="*{dataExpiracao}"
								autofocus="autofocus" maxlength="50" />
						</div>
						<div class="col-md-4">
							<label>Chamado Solicitante</label> <input type="text"
								class="form-control input-sm" th:field="*{chamadoSolicitante}"
								autofocus="autofocus" maxlength="50" />
						</div>
						<div class="col-md-4">
							<br />
							<button type="submit" class="btn btn-sm btn-primary">Adicionar</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</section>
</body>
<script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>
<script type="text/javascript"
	src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/dateTimePicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
			dados=th:object="${schemaUsuario}"
			alert(dados)
	</script>
</html>
