<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	href="DataTables/datatables.min.css" />
<title>Servidores</title>
</head>

<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container">
			<h2>Servidores</h2>
			<hr />
			<table class="table" id="tblServidores">
				<thead>
					<tr>
						<!-- 
						<th>idServidor</th>
						 -->
						<th>Nome</th>
						<th>Data Criação</th>
						<th>Data Inativação</th>
						<th>Ativo</th>
						<th>IP Host</th>
						<th>Versão S.O</th>
						<th>Versão Kernel</th>
						<th>CPU's</th>
						<th>Núcleos</th>
						<th>Cores</th>
						<th>Memória Mb</th>
						<th>Ambiente</th>
						<th>S.O</th>
						<th>Editar</th>
						<!-- 
			                <th>Deletar</th>
			            	 -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="servidor : ${servidores}">
						<td th:text="${servidor.idServidor}" hidden />
						<td th:text="${servidor.nomeServidor}"></td>
						<td th:text="${#dates.format(servidor.dataCriacao, 'dd/MM/yyyy')}"></td>
						<td th:text="${#dates.format(servidor.dataInativacao, 'dd/MM/yyyy')}"></td>
						<td th:text="${servidor.ativo ? 'Sim' : 'Não'}"></td>
						<td th:text="${servidor.ipHost}"></td>
						<td th:text="${servidor.versaoSo}"></td>
						<td th:text="${servidor.versaoKernel}"></td>
						<td th:text="${servidor.cpus}"></td>
						<td th:text="${servidor.nucleos}"></td>
						<td th:text="${servidor.cores}"></td>
						<td th:text="${servidor.memoriaMb}"></td>
						<td th:text="${servidor.ambiente.nomeAmbiente}"></td>
						<td
							th:text="${servidor.sistemaOperacional.nomeSistemaOperacional}"></td>
						<td><a
							th:href="'/servidores/editarServidor/'+${servidor.idServidor}">
								<span class="glyphicon glyphicon-pencil"></span>
						</a></td>

						<!-- 
			                <td><a th:href="apagar">Delete</a></td>
			            	 -->
					</tr>
				</tbody>
			</table>
			<p>
				<a class="btn btn-primary" href="/servidores/novoServidor">Cadastrar
					Servidor</a>
			</p>
		</div>
	</section>
</body>

<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type=text/javascript>
	$(function() {
		$("#tblServidores")
				.DataTable(
						{
							dom : 'Bfrtip',
							buttons : [],
							language : {
								"sEmptyTable" : "Nenhum registro encontrado",
								"sInfo" : "Mostrando de _START_ até _END_ de _TOTAL_ registros",
								"sInfoEmpty" : "Mostrando 0 até 0 de 0 registros",
								"sInfoFiltered" : "(Filtrados de _MAX_ registros)",
								"sInfoPostFix" : "",
								"sInfoThousands" : ".",
								"sLengthMenu" : "_MENU_ resultados por página",
								"sLoadingRecords" : "Carregando...",
								"sProcessing" : "Processando...",
								"sZeroRecords" : "Nenhum registro encontrado",
								"sSearch" : "Pesquisar",
								"oPaginate" : {
									"sNext" : "Próximo",
									"sPrevious" : "Anterior",
									"sFirst" : "Primeiro",
									"sLast" : "Último"
								},
								"oAria" : {
									"sSortAscending" : ": Ordenar colunas de forma ascendente",
									"sSortDescending" : ": Ordenar colunas de forma descendente"
								}
							}
						});

		$(".dt-buttons").addClass("btn btn-primary");
	})
</script>
</html>




