
<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head> 
    <meta charset="UTF-8" />
	<title>Cadastro de Servidores</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
	</head>
	
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    		<div class="container panel panel-default">
		<div class="panel-header" align="center">
			<h2>Cadastro de Servidor</h2>
			<hr/>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${servidor}" th:action="@{/servidores/salvarServidor}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>										
						</div>
						<div class="form-group row">
						    <div class="col-md-4">
						    	<label>ID</label>
						        <input type="text" class="form-control input-sm" id="idServidor" th:field="*{idServidor}" readOnly="readonly"/>
						    </div>						
				                                                    
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nomeServidor}')}? 'has-error'">
							    <label>Nome do Servidor</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeServidor}" autofocus="autofocus" placeholder="Informe o nome do Servidor. Ex.: posProducao" maxlength="50"/>
							</div>
						
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{ativo}')}? 'has-error'">
							    <label>Ativo</label>
							    <input type="checkbox" class="form-control input-sm" th:field="*{ativo}" autofocus="autofocus"  />
							</div>
						</div>						
						<div class="form-group row">
							<div class='col-md-4'>
							<label>Data de Criacao</label>
				                <div class='input-group date' id='dtPickerCriacao' th:classappend="${#fields.hasErrors('*{dataCriacao}')}? 'has-error'">
				                   <input type="text" class="form-control input-sm" th:field="*{dataCriacao}" autofocus="autofocus" placeholder="Data de criação do Servidor" maxlength="50"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
							</div>
							
							<div class='col-md-4'>
							<label>Data de Inativacao</label>
				                <div class='input-group date' id='dtPickerInativacao' th:classappend="${#fields.hasErrors('*{dataInativacao}')}? 'has-error'">
				                    <input type="text" class="form-control input-sm" th:field="*{dataInativacao}" autofocus="autofocus" placeholder="Data de Inativação do Servidor" maxlength="50"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>			                	
			                </div>			               
					                                                
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{ipHost}')}? 'has-error'">
							    <label>Ip Host</label>
							    <input type="text" class="form-control input-sm" th:field="*{ipHost}" autofocus="autofocus" placeholder="Informe o IP. Ex: 10.0.11.106" maxlength="50"/>
							</div>
						</div>	
						<div class="form-group row">                                                       
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{versaoSo}')}? 'has-error'">
							    <label>Versão do So</label>
							    <input type="text" class="form-control input-sm" th:field="*{versaoSo}" autofocus="autofocus" placeholder="Ex.:Red Hat Enterprise Linux Server release 6.5 (Santiago)" maxlength="50"/>
							</div>
						                                                        
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{versaoKernel}')}? 'has-error'">
							    <label>Versão do Kernel</label>
							    <input type="text" class="form-control input-sm" th:field="*{versaoKernel}" autofocus="autofocus" placeholder="Ex.: 3.8.13-26.2.1.el6uek.x86_64" maxlength="50"/>
							</div>
						                                                       
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{cpus}')}? 'has-error'">
							    <label>Quantidade de processadores (cpus)</label>
							    <input type="number" class="form-control input-sm" th:field="*{cpus}" autofocus="autofocus"  maxlength="50"/>
							</div>
						</div>
						<div class="form-group row"> 	                                                       
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nucleos}')}? 'has-error'">
							    <label>Quantidade de núcleos</label>
							    <input type="number" class="form-control input-sm" th:field="*{nucleos}" autofocus="autofocus"  maxlength="50"/>
							</div>
							                                                       
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{cores}')}? 'has-error'">
							    <label>Quantidade de cores</label>
							    <input type="number" class="form-control input-sm" th:field="*{cores}" autofocus="autofocus" maxlength="50"/>
							</div>
							                                                     
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{memoriaMb}')}? 'has-error'">
							    <label>Memória em MB</label>
							    <input type="number" class="form-control input-sm" th:field="*{memoriaMb}" autofocus="autofocus"  maxlength="50"/>
							</div>
						</div>
						<div class="form-group row"> 							        
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{ambiente}')}? 'has-error'">                                                 
						      	<label>Ambiente</label>
						      	<select class="form-control input-sm" th:field="*{ambiente}">  
						            <option th:value ="${ambiente.idAmbiente}" th:each="ambiente : ${ambientes}"
						               th:utext="${ambiente.nomeAmbiente}"/>
						    	</select>
					    	</div>
					    	   
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{sistemaOperacional}')}? 'has-error'">                                                   
						      	<label>Sistema Operacional</label>
						      	<select class="form-control input-sm" th:field="*{sistemaOperacional}"> 
						             <option th:value ="${sistemaOperacional.idSistemaOperacional}" th:each="sistemaOperacional : ${sistemasOperacionais}"
						               th:utext="${sistemaOperacional.nomeSistemaOperacional}"/>
						    	</select>
					    	</div>
					    </div>
						
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/servidores}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
	    </section>
    </body>
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="../jquery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="moment-with-locales/js/moment.js"></script>
	<script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="dateTimePicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript">
	$(function () {
		$('#dtPickerCriacao').datetimepicker({
			locale: 'pt-br',
			format: 'YYYY-MM-DD'
		});
		$('#dtPickerInativacao').datetimepicker({
			locale: 'pt-br',	
			format: 'YYYY-MM-DD',
			useCurrent: false 
		});
        $("#dtPickerCriacao").on("dp.change", function (e) {
            $('#dtPickerInativacao').data("DateTimePicker").minDate(e.date);
        });
        $("#dtPickerInativacao").on("dp.change", function (e) {
            $('#dtPickerCriacao').data("DateTimePicker").maxDate(e.date);
        });
	});
</script>
</html>