
<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Editar Login Usuário</title>
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container">
			<div class="panel-header" align="center">
				<h2>Editar Login Usuário</h2>
				<hr />
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:object="${loginUsuario}"
					th:action="@{/login/salvarLoginUsuario}" method="POST"
					style="margin: 10px">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<div class="alert alert-danger"
									th:if="${#fields.hasAnyErrors()}">
									<div th:each="detailedError : ${#fields.detailedErrors()}">
										<span th:text="${detailedError.message}"></span>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{nomeLogin}')}? 'has-error'">
									<label>Nome Login</label> <input type="text"
										class="form-control input-sm" th:field="*{nomeLogin}"
										autofocus="autofocus" placeholder="Informe o nome do login"
										maxlength="50" />
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{senhaLogin}')}? 'has-error'">
									<label>Senha</label> <input type="password"
										class="form-control input-sm" th:field="*{senhaLogin}"
										placeholder="Informe a senha"
										autofocus="autofocus" />
								</div>
							</div>

						</fieldset>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<a th:href="@{/login/index}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
				<div>
					<hr />
					<h2>Permissões</h2>
					<table class="table" id="tblInstancias">
						<thead>
							<tr>
								<th>Nome da permissão</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="permissao : ${permissoes}">
								<td th:text="${permissao.nomePermissao}"></td>
								<td>Editar</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group row">
					<hr />
					<form class="form-horizontal" th:object="${permissao}"
						th:action="@{/login/salvarPermissao}" method="POST"
						style="margin: 10px">
						<h3>Adicionar Permissão</h3>
						<div class="col-md-4">
							<label>Permissão</label> 
						      	<select class="form-control input-sm" th:field="*{nomePermissao}" required> 
						             <option th:value ="${permissao.nomePermissao}" th:each="permissao : ${permissoesRestantes}"
						               th:utext="${permissao.nomePermissao}"/>
						    	</select>
						</div>
						<div class="col-md-4">
							<br />
							<button type="submit" class="btn btn-sm btn-primary">Adicionar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
				
				
	</section>
</body>
<script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>
<script type="text/javascript"
	src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/dateTimePicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
			dados=th:object="${loginUsuario}"
			alert(dados)
	</script>
</html>
