<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head> 
    <meta charset="UTF-8" />
    <title>Cadastro Login Usuário</title>
    </head>
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    		<div class="container panel panel-default">
		<div class="panel-header" align="center">
			<h2>Cadastro Login Usuário</h2>
			<hr/>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${loginUsuario}" th:action="@{/login/salvarLoginUsuario}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>										
						</div>
						<div class="form-group row">					
				                                                    
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nomeLogin}')}? 'has-error'">
							    <label>Nome do Login</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeLogin}" autofocus="autofocus" placeholder="Informe o nome do Login" maxlength="50"/>
							</div>
						
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{senhaLogin}')}? 'has-error'">
							    <label>Senha</label>
							    <input type="password" class="form-control input-sm" th:field="*{senhaLogin}" placeholder="Informe a senha" autofocus="autofocus"  />
							</div>
						</div>				
						
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/login}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
         </section>
    </body> 
	<script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>	
	<script type="text/javascript" src="/dateTimePicker/js/bootstrap-datetimepicker.js"></script>
</html>
