<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">

		<div class="container" th:switch="ambientes">
			<h2 th:case="null">Ainda não existem ambientes.</h2>
			<div th:case="*">
				<h2>Ambientes</h2>
				<hr />
				<table class="table" id="tblAmbientes">
					<thead>
						<tr>
							<!-- 
							<th>Id</th>
							 -->
							<th>Nome</th>
							<th>Editar</th>
							<!-- 
							<th>Deletar</th>
						 	-->
						</tr>
					</thead>
					<tbody>
						<tr th:each="ambiente : ${ambientes}">
							<td th:text="${ambiente.idAmbiente}" hidden/>
							<td th:text="${ambiente.nomeAmbiente}"></td>
							<td><a
								th:href="'/ambientes/editarAmbiente/'+${ambiente.idAmbiente}">
									<span class="glyphicon glyphicon-pencil"></span>
							</a></td>
							<!--
							<td>								 
								<form id="formDelAmbiente" th:object="${ambientes}"
									th:action="@{/ambientes/deletarAmbiente}" method="POST">
									<input type="text" name="idAmbiente"
										th:value="${ambiente.idAmbiente}" hidden />
									<input type="submit" id="btnDelAmbiente" class="btn btn-sm btn-primary" value="Delete"/>
								</form>								
							</td>
						 -->
						</tr>
					</tbody>
				</table>
			</div>
			<p>
				<a class="btn btn-primary" href="/ambientes/novoAmbiente">Cadastrar Ambiente</a>
			</p>
		</div>
	</section>
</body>
<section layout:fragment="scriptsPagina">
	<script type="text/javascript" src="DataTables/datatables.min.js"></script>
	<script type=text/javascript>
		$(document)
				.ready(
						function() {
							$('formDelAmbiente')
									.on(
											'submit',
											function(e) {
												resultado = confirm("Tem certeza que deseja deletar o ambiente?");
												if (!resultado) {
													e.preventDefault();
												}
											});
						});
		$(function() {
			$("#tblAmbientes")
					.DataTable(
							{
								dom : 'frtip',
								buttons : [],
								language : {
									"sEmptyTable" : "Nenhum registro encontrado",
									"sInfo" : "Mostrando de _START_ até _END_ de _TOTAL_ registros",
									"sInfoEmpty" : "Mostrando 0 até 0 de 0 registros",
									"sInfoFiltered" : "(Filtrados de _MAX_ registros)",
									"sInfoPostFix" : "",
									"sInfoThousands" : ".",
									"sLengthMenu" : "_MENU_ resultados por página",
									"sLoadingRecords" : "Carregando...",
									"sProcessing" : "Processando...",
									"sZeroRecords" : "Nenhum registro encontrado",
									"sSearch" : "Pesquisar",
									"searchPlaceholder" : "Pesquisar",
									"oPaginate" : {
										"sNext" : "Próximo",
										"sPrevious" : "Anterior",
										"sFirst" : "Primeiro",
										"sLast" : "Último"
									},
									"oAria" : {
										"sSortAscending" : ": Ordenar colunas de forma ascendente",
										"sSortDescending" : ": Ordenar colunas de forma descendente"
									}
								}
							});

		})
	</script>
</section>
</html>



