<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    </head>
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    		<div class="container">
    <h2>Sistemas</h2>
    <hr/>
    <table class="table" id="tblSistemas">
        <thead>
            <tr>
            	<!-- 
				<th>idSistema</th>
				 -->	
				<th>Nome</th>
				<th>Descrição</th>	
				<th>Data Criação</th>
				<th>Data Inativação</th>
				<th>Ativo</th>
                <th>Editar</th>
                <!-- 
                <th>Deletar</th>
                 -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="sistema : ${sistemas}">
				<td th:text="${sistema.idSistema}" hidden/>	
				<td th:text="${sistema.nomeSistema}"></td>
				<td th:text="${sistema.descricaoSistema}"></td>	
				<td th:text="${sistema.dataCriacao}"></td>
				<td th:text="${sistema.dataInativacao}"></td>
				<td th:text="${sistema.ativo}"></td>
				<td><a
								th:href="'/sistemas/editarSistema/'+ ${sistema.idSistema}">
									<span class="glyphicon glyphicon-pencil"></span>
							</a></td>
                <!-- 
                <td><a th:href="apagar">Delete</a></td>
                 -->
            </tr>
        </tbody>
    </table>    
    <p><a class="btn btn-primary" href="/sistemas/novoSistema">Cadastrar Sistemas</a></p>
</div>
         </section>
    </body>
    
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
	<script type=text/javascript>
		$(function () {
		    $("#tblSistemas").DataTable({
		        dom: 'Bfrtip',
		        buttons: [],
		        language: {
		            "sEmptyTable": "Nenhum registro encontrado",
		            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
		            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
		            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
		            "sInfoPostFix": "",
		            "sInfoThousands": ".",
		            "sLengthMenu": "_MENU_ resultados por página",
		            "sLoadingRecords": "Carregando...",
		            "sProcessing": "Processando...",
		            "sZeroRecords": "Nenhum registro encontrado",
		            "sSearch": "Pesquisar",
		            "oPaginate": {
		                "sNext": "Próximo",
		                "sPrevious": "Anterior",
		                "sFirst": "Primeiro",
		                "sLast": "Último"
		            },
		            "oAria": {
		                "sSortAscending": ": Ordenar colunas de forma ascendente",
		                "sSortDescending": ": Ordenar colunas de forma descendente"
		            }
		        }
		    });
		
		    $(".dt-buttons").addClass("btn btn-primary");
		})
	</script>
    
</html>





