<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head> 
    <meta charset="UTF-8" />
    <title>Editar Sistema Operacional</title>
    </head>
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    <div class="container">
    		<div class="panel panel-default">
		<div class="panel-header" align="center">
			<h2>Editar Sistema Operacional</h2>
			<hr/>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${so}" th:action="@{/sistemasOperacionais/salvarSo}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="idSistemaOperacional" th:field="*{idSistemaOperacional}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nomeSistemaOperacional}')}? 'has-error'">
							    <label>nomeAmbiente</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeSistemaOperacional}" autofocus="autofocus" placeholder="Informe o nome do SO" maxlength="50"/>
							</div>
						</div>									
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/sistemasOperacionais}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>
         </section>
    </body>
</html>
