<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	href="DataTables/datatables.min.css" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container" th:switch="sos">
			<h2 th:case="null">Ainda não existem sistemas operacionais.</h2>
			<div th:case="*">
				<h2>Sistemas Operacionais</h2>
				<hr />
				<table class="table" id="tblAmbientes">
					<thead>
						<tr>
							<!-- 
                        <th>Id</th>
                         -->
							<th>Nome</th>
							<th>Editar</th>
							<!-- 
                        <th>Deletar</th>
                    	 -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="so : ${sos}">
							<td th:text="${so.idSistemaOperacional}" hidden />
							<td th:text="${so.nomeSistemaOperacional}"></td>
							<td><a
								th:href="'/sistemasOperacionais/editarSo/'+ ${so.idSistemaOperacional}">
									<span class="glyphicon glyphicon-pencil"></span>
							</a></td>
							<!-- 
                    <td><a th:href="apagar">Delete</a></td>
                	 -->
						</tr>
					</tbody>
				</table>
			</div>
			<p>
				<a class="btn btn-primary" href="/sistemasOperacionais/novoSo">Cadastrar
					Sistema Operacional</a>
			</p>
		</div>
	</section>
</body>

<script type="text/javascript" src="jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript"
	src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type=text/javascript>
	$(function() {
		$("#tblAmbientes")
				.DataTable(
						{
							dom : 'Bfrtip',
							buttons : [ 'excel' ],
							language : {
								"sEmptyTable" : "Nenhum registro encontrado",
								"sInfo" : "Mostrando de _START_ até _END_ de _TOTAL_ registros",
								"sInfoEmpty" : "Mostrando 0 até 0 de 0 registros",
								"sInfoFiltered" : "(Filtrados de _MAX_ registros)",
								"sInfoPostFix" : "",
								"sInfoThousands" : ".",
								"sLengthMenu" : "_MENU_ resultados por página",
								"sLoadingRecords" : "Carregando...",
								"sProcessing" : "Processando...",
								"sZeroRecords" : "Nenhum registro encontrado",
								"sSearch" : "Pesquisar",
								"oPaginate" : {
									"sNext" : "Próximo",
									"sPrevious" : "Anterior",
									"sFirst" : "Primeiro",
									"sLast" : "Último"
								},
								"oAria" : {
									"sSortAscending" : ": Ordenar colunas de forma ascendente",
									"sSortDescending" : ": Ordenar colunas de forma descendente"
								}
							}
						});

		$(".dt-buttons").addClass("btn btn-primary");
	})
</script>
</html>




