<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head> 
    <meta charset="UTF-8" />
    	<title>Bases</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>       
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>	    
    </head>
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    		<div class="container" th:switch="sgbds">
    <h2 th:case="null">Ainda não existem bases.</h2>
        <div th:case="*">
            <h2>Bases</h2>
            <hr/>
            <table class="table" id="tblBase">
                <thead>
                    <tr>
                    	<!-- 
                        <th>Id</th>
                         -->
                        <th>Instância</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Data Criação</th>
                        <th>Data Inativação</th>
                        <th>Ativo</th>
                        <th>Editar</th>
                        <!-- 
                        <th>Deletar</th>
                         -->
                    </tr>
                </thead>
                <tbody>
                <tr th:each="base : ${bases}">
                    <td th:text="${base.idBase}" hidden/>
                    <td th:text="${base.instancia.nomeInstancia}"></td>
                    <td th:text="${base.nomeBase}"></td>
                    <td th:text="${base.descricaoBase}"></td>
                    <td th:text="${base.dataCriacao}"></td>
                    <td th:text="${base.dataInativacao}"></td>
                    <td th:text="${base.ativo ? 'Sim' : 'Não'}"></td>
                    <td><a
								th:href="'/bases/editarBase/' + ${base.idBase}">
									<span class="glyphicon glyphicon-pencil"></span>
							</a></td>
                    <!-- 
                    <td>
                    	<form th:object="${base}" th:action="@{/sgbds/deletarBase}" method="POST" >
                   			<input type="text" name="idSgbd" th:value="${base.idBase}" hidden/>
                    		<button class="btn btn-sm btn-primary" type="submit"> Deletar </button>
                    	</form>
                    </td>
                    --> 
                </tr>
            </tbody>
        </table>
        	<p><a class="btn btn-primary" href="/bases/novaBase">Cadastrar Base</a></p>
    </div>      
    </section>
    <section layout:fragment="scriptsPagina">
       <script type="text/javascript" src="DataTables/datatables.min.js"></script>
	<script type="text/javascript" src="materialize-v0.100.2/materialize/js/materialize.min.js"></script>
	<script type=text/javascript>
			$(function () {
			    $("#tblBase").DataTable({
			        dom: 'Bfrtip',
			        buttons: [],
			        language: {
			            "sEmptyTable": "Nenhum registro encontrado",
			            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
			            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
			            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
			            "sInfoPostFix": "",
			            "sInfoThousands": ".",
			            "sLengthMenu": "_MENU_ resultados por página",
			            "sLoadingRecords": "Carregando...",
			            "sProcessing": "Processando...",
			            "sZeroRecords": "Nenhum registro encontrado",
			            "sSearch": "Pesquisar",
			            "oPaginate": {
			                "sNext": "Próximo",
			                "sPrevious": "Anterior",
			                "sFirst": "Primeiro",
			                "sLast": "Último"
			            },
			            "oAria": {
			                "sSortAscending": ": Ordenar colunas de forma ascendente",
			                "sSortDescending": ": Ordenar colunas de forma descendente"
			            }
			        }
			    });
			
			    $(".dt-buttons").addClass("btn btn-primary");
			})
	</script>
         </section>
    </body>
    

</html>



    


