<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>Editar Cadastro</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container panel panel-default">
			<div class="panel-header" align="center">
				<h2>Editar SGBD</h2>
				<hr />
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:object="${sgbd}"
					th:action="@{/sgbds/salvarSgbd}" method="POST" style="margin: 10px">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<div class="alert alert-danger"
									th:if="${#fields.hasAnyErrors()}">
									<div th:each="detailedError : ${#fields.detailedErrors()}">
										<span th:text="${detailedError.message}"></span>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4">
									<label>ID</label> <input type="text"
										class="form-control input-sm" id="idSgbd" th:field="*{idSgbd}"
										readOnly="readonly" />
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{nomeSgbd}')}? 'has-error'">
									<label>Nome do SGBD</label> <input type="text"
										class="form-control input-sm" th:field="*{nomeSgbd}"
										autofocus="autofocus"
										placeholder="Informe o nome do SGBD. Ex.:Produção "
										maxlength="50" />
								</div>
							</div>

						</fieldset>
					</div>
					<div class="row">
						<button class="btn btn-sm btn-primary" type="submit">Salvar</button>
						<a th:href="@{/sgbds}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
			</div>
		</div>

	</section>
</body>
<script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>
</html>





