<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>SGBD</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="DataTables/datatables.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container" th:switch="sgbds">
			<h2 th:case="null">Ainda não existem SGBD's.</h2>
			<div th:case="*">
				<h2>SGBD</h2>
				<hr />
				<table class="table" id="tblSgbds">
					<thead>
						<tr>
							<!-- 
                        <th>Id</th>
                         -->
							<th>Nome</th>
							<th>Editar</th>
							<!-- 
                        <th>Deletar</th>
                         -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="sgbd : ${sgbds}">
							<td th:text="${sgbd.idSgbd}" hidden />
							<td th:text="${sgbd.nomeSgbd}"></td>
							<td><a th:href="'sgbds/editarSgbd/' + ${sgbd.idSgbd}"> <span
									class="glyphicon glyphicon-pencil"></span>
							</a></td>
							<!-- 			
                    <td>
                    	<form th:object="${sgbd}" th:action="@{/sgbds/deletarSgbd}" method="POST" >
                   			<input type="text" name="idSgbd" th:value="${sgbd.idSgbd}" hidden/>
                    		<button class="btn btn-sm btn-primary" type="submit"> Delete </button>
                    	</form>
                    </td>
                     -->
						</tr>
					</tbody>
				</table>
				<p>
					<a class="btn btn-primary" href="/sgbds/novoSgbd">Cadastrar
						SGBD</a>
				</p>
			</div>
	</section>
</body>

<script type="text/javascript" src="DataTables/datatables.min.js"></script>
<script type=text/javascript>
	$(function() {
		$("#tblSgbd")
				.DataTable(
						{
							dom : 'Bfrtip',
							buttons : [],
							language : {
								"sEmptyTable" : "Nenhum registro encontrado",
								"sInfo" : "Mostrando de _START_ até _END_ de _TOTAL_ registros",
								"sInfoEmpty" : "Mostrando 0 até 0 de 0 registros",
								"sInfoFiltered" : "(Filtrados de _MAX_ registros)",
								"sInfoPostFix" : "",
								"sInfoThousands" : ".",
								"sLengthMenu" : "_MENU_ resultados por página",
								"sLoadingRecords" : "Carregando...",
								"sProcessing" : "Processando...",
								"sZeroRecords" : "Nenhum registro encontrado",
								"sSearch" : "Pesquisar",
								"oPaginate" : {
									"sNext" : "Próximo",
									"sPrevious" : "Anterior",
									"sFirst" : "Primeiro",
									"sLast" : "Último"
								},
								"oAria" : {
									"sSortAscending" : ": Ordenar colunas de forma ascendente",
									"sSortDescending" : ": Ordenar colunas de forma descendente"
								}
							}
						});

		$(".dt-buttons").addClass("btn btn-primary");
	})
</script>
</html>






