<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head>
    <meta charset="UTF-8" />
    <title>Editar Instância</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
	</head>
    <body>
    	<section class="Layout-content" layout:fragment="corpo" >
    		<div class="container panel panel-default">
		<div class="panel-header" align="center">
			<h2>Editar Instância</h2>
			<hr/>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${instancia}" th:action="@{/instancias/salvarInstancia}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>										
						</div>
						<div class="form-group row">
						    <div class="col-md-4">
						    	<label>ID</label>
						        <input type="text" class="form-control input-sm" id="idInstancia" th:field="*{idInstancia}" readOnly="readonly"/>
						    </div>						
				                                                    
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{nomeInstancia}')}? 'has-error'">
							    <label>Nome da Instancia</label>
							    <input type="text" class="form-control input-sm" th:field="*{nomeInstancia}" autofocus="autofocus" placeholder="Ex.: posProducaoq" maxlength="50"/>
							</div>
						
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{ativo}')}? 'has-error'">
							    <label>Ativo</label>
							    <input type="checkbox" class="form-control input-sm" th:field="*{ativo}" autofocus="autofocus"  />
							</div>
						</div>						
						<div class="form-group row">
							<div class='col-md-4'>
							<label>Data de Criacao</label>
				                <div class='input-group date' id='dtPickerCriacao' th:classappend="${#fields.hasErrors('*{dataCriacao}')}? 'has-error'">
				                   <input type="text" class="form-control input-sm" th:field="*{dataCriacao}" autofocus="autofocus" placeholder="Data de criação da Instancia" maxlength="50"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
							</div>
							
							<div class='col-md-4'>
							<label>Data de Inativacao</label>
				                <div class='input-group date' id='dtPickerInativacao' th:classappend="${#fields.hasErrors('*{dataInativacao}')}? 'has-error'">
				                    <input type="text" class="form-control input-sm" th:field="*{dataInativacao}" autofocus="autofocus" placeholder="Data de Inativação da Instancia" maxlength="50"/>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>			                	
			                </div>			               
					                                                
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{descricaoInstancia}')}? 'has-error'">
							    <label>Descrição</label>
							    <input type="text" class="form-control input-sm" th:field="*{descricaoInstancia}" autofocus="autofocus" placeholder="Ex. Instancia Criada para homologação do servidor X." maxlength="50"/>
							</div>
						</div>	
						<div class="form-group row">                                                       
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{versaoSgbd}')}? 'has-error'">
							    <label>Versão do SGBD</label>
							    <input type="text" class="form-control input-sm" th:field="*{versaoSgbd}" autofocus="autofocus" placeholder="Ex.: mysql  Ver 14.14 Distrib 5.7.11" maxlength="50"/>
							</div>
						                                                        
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{porta}')}? 'has-error'">
							    <label>Porta</label>
							    <input type="text" class="form-control input-sm" th:field="*{porta}" autofocus="autofocus" />
							</div>
						                                                       
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{localInstalacao}')}? 'has-error'">
							    <label>Local da Instalação</label>
							    <input type="number" class="form-control input-sm" th:field="*{localInstalacao}" autofocus="autofocus" placeholder="/opt/mydata" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row"> 							        
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{sgbd}')}? 'has-error'">                                                 
						      	<label>SGBD</label>
						      	<select class="form-control input-sm" th:field="*{sgbd}">  
						            <option th:value ="${sgbd.idSgbd}" th:each="sgbd : ${sgbds}"
						               th:utext="${sgbd.nomeSgbd}"/>
						    	</select>
					    	</div>
					    	   
							<div class="col-md-4" th:classappend="${#fields.hasErrors('*{servidor}')}? 'has-error'">                                                   
						      	<label>Servidor</label>
						      	<select class="form-control input-sm" th:field="*{servidor}"> 
						             <option th:value ="${servidor.idServidor}" th:each="servidor : ${servidores}"
						               th:utext="${servidor.nomeServidor}+' - '+${servidor.ambiente.nomeAmbiente}+' - '+${servidor.ipHost}"/>
						    	</select>
					    	</div>
					    </div>
						
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/instancias}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		
			<!--  
			<div>
			<hr/>
				<h2> Esquemas </h2>
				    <table class="table" id="tblSchemasUsuario">
				        <thead>
							 <tr>
							 	<th>Base</th>
							 	<th>Schema</th>
								<th>Data de Criação</th>		
								<th>Data de Expiração</th>
								<th>Ativo?</th>
								<th>Chamado Solicitante</th>
							</tr>
				        </thead>
				        <tbody>
				            <tr th:each="schema : ${schemasUsuario}">
				            	<td th:text="${schema.schema.base.nomeBase}"></td>	
				            	<td th:text="${schema.schema.nomeSchema}"></td>	
								<td th:text="${schema.dataCriacao}"></td>		
								<td th:text="${schema.dataExpiracao}"></td>	
								<td th:text="${schema.ativo ? 'Sim' : 'Não'}"></td>	
								<td th:text="${schema.chamadoSolicitante}"></td>	
				            </tr>
				        </tbody>
				    </table>  
			</div>
			
			<div class="form-group row">
			<hr/>
			<form class="form-horizontal" th:object="${schemaUsuario}" th:action="@{/usuarios/salvarSchemaUsuario}" method="POST" style="margin: 10px">
				<h3>Vincular a esquema</h3>
				<div class="form-group row">
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>										
				</div>
				<div class="col-md-4">
					<label>Schema</label>
					<select class="form-control input-sm" th:field="*{id.schema}"> 
						<option th:value ="${schemaLoop.idSchema}" th:each="schemaLoop : ${schemas}"
						               th:utext="${schemaLoop.nomeSchema}+' - Base: '+${schemaLoop.base.nomeBase}"/>
					</select>
				</div>
				<div class="col-md-4">
					<label>Data Expiracao</label>
					<input type="date" class="form-control input-sm" th:field="*{dataExpiracao}" autofocus="autofocus"  maxlength="50"/>
				</div>
				<div class="col-md-4">
					<label>Chamado Solicitante</label>
					<input type="text" class="form-control input-sm" th:field="*{chamadoSolicitante}" autofocus="autofocus"  maxlength="50"/>
				</div>
				<div class="col-md-4">
					<br/>
					<button type="submit" class="btn btn-sm btn-primary">Adicionar</button>
				</div>
			</form>	
			</div>
			-->
		</div>
	</div>
         </section>
    </body>
    <script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>
<script type="text/javascript" src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/dateTimePicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
	dados=th:object="${schemaUsuario}"
	alert(dados)    
</script>
</html>
