
<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro Instâncias</title>
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">	
		<div class="container panel panel-default">
		<div class="panel-header" align="center">
			<h2>Cadastro de Instancia</h2>
			<hr />
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${instancia}"
				th:action="@{/instancias/salvarInstancia}" method="POST"
				style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4">
								<label>ID</label> <input type="text"
									class="form-control input-sm" id="idInstancia"
									th:field="*{idInstancia}" readOnly="readonly" />
							</div>

							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{nomeInstancia}')}? 'has-error'">
								<label>Nome da Instancia</label> <input type="text"
									class="form-control input-sm" th:field="*{nomeInstancia}"
									autofocus="autofocus" placeholder="Ex.: posProducaoq"
									maxlength="50" />
							</div>

							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{ativo}')}? 'has-error'">
								<label>Ativo</label> <input type="checkbox"
									class="form-control input-sm" th:field="*{ativo}"
									autofocus="autofocus" />
							</div>
						</div>
						<div class="form-group row">
							<div class='col-md-4'>
								<label>Data de Criacao</label>
								<div class='input-group date' id='dtPickerCriacao'
									th:classappend="${#fields.hasErrors('*{dataCriacao}')}? 'has-error'">
									<input type="text" class="form-control input-sm"
										th:field="*{dataCriacao}" autofocus="autofocus"
										placeholder="Data de criação da Instancia" maxlength="50" /> <span
										class="input-group-addon"> <span
										class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>

							<div class='col-md-4'>
								<label>Data de Inativacao</label>
								<div class='input-group date' id='dtPickerInativacao'
									th:classappend="${#fields.hasErrors('*{dataInativacao}')}? 'has-error'">
									<input type="text" class="form-control input-sm"
										th:field="*{dataInativacao}" autofocus="autofocus"
										placeholder="Data de Inativação da Instancia" maxlength="50" />
									<span class="input-group-addon"> <span
										class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>

							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{descricaoInstancia}')}? 'has-error'">
								<label>Descrição</label> <input type="text"
									class="form-control input-sm" th:field="*{descricaoInstancia}"
									autofocus="autofocus"
									placeholder="Ex. Instancia Criada para homologação do servidor X."
									maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{versaoSgbd}')}? 'has-error'">
								<label>Versão do SGBD</label> <input type="text"
									class="form-control input-sm" th:field="*{versaoSgbd}"
									autofocus="autofocus"
									placeholder="Ex.: mysql  Ver 14.14 Distrib 5.7.11"
									maxlength="50" />
							</div>

							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{porta}')}? 'has-error'">
								<label>Porta</label> <input type="text"
									class="form-control input-sm" th:field="*{porta}"
									autofocus="autofocus" />
							</div>

							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{localInstalacao}')}? 'has-error'">
								<label>Local da Instalação</label> <input type="number"
									class="form-control input-sm" th:field="*{localInstalacao}"
									autofocus="autofocus" placeholder="/opt/mydata" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{sgbd}')}? 'has-error'">
								<label>SGBD</label> <select class="form-control input-sm"
									th:field="*{sgbd}">
									<option th:value="${sgbd.idSgbd}" th:each="sgbd : ${sgbds}"
										th:utext="${sgbd.nomeSgbd}" />
								</select>
							</div>

							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('*{servidor}')}? 'has-error'">
								<label>Servidor</label> <select class="form-control input-sm"
									th:field="*{servidor}">
									<option th:value="${servidor.idServidor}"
										th:each="servidor : ${servidores}"
										th:utext="${servidor.nomeServidor}+' - '+${servidor.ambiente.nomeAmbiente}+' - '+${servidor.ipHost}" />
								</select>
							</div>
						</div>

					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/instancias}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
	</section>
</body>
<script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/moment-with-locales/js/moment.js"></script>
<script type="text/javascript"
	src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/dateTimePicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
	$(function() {
		$('#dtPickerCriacao').datetimepicker({
			locale : 'pt-br',
			format : 'YYYY-MM-DD'
		});
		$('#dtPickerInativacao').datetimepicker({
			locale : 'pt-br',
			format : 'YYYY-MM-DD',
			useCurrent : false
		});
		$("#dtPickerCriacao").on("dp.change", function(e) {
			$('#dtPickerInativacao').data("DateTimePicker").minDate(e.date);
		});
		$("#dtPickerInativacao").on("dp.change", function(e) {
			$('#dtPickerCriacao').data("DateTimePicker").maxDate(e.date);
		});
	});
</script>
</html>