<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>Cadastrar Base</title>
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
</head>
<body>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="panel panel-default container">

			<h2 align="center">Editar Base</h2>
			<hr />

			<div class="panel-body">
				<form class="form-horizontal" th:object="${base}"
					th:action="@{/bases/salvarBase}" method="POST" style="margin: 10px">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<div class="alert alert-danger"
									th:if="${#fields.hasAnyErrors()}">
									<div th:each="detailedError : ${#fields.detailedErrors()}">
										<span th:text="${detailedError.message}"></span>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<!-- 
								<div class="col-md-4">
									<label>ID</label> <input type="text"
										class="form-control input-sm" id="idBase" th:field="*{idBase}"
										readOnly="readonly" />
								</div>
								 -->
								 
								 <div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{nomeBase}')}? 'has-error'">
									<label>Nome da Base</label> <input type="text"
										class="form-control input-sm" th:field="*{nomeBase}"
										autofocus="autofocus" placeholder="Informe o nome da Base"
										maxlength="50" />
								</div>								
							</div>
							<div class="form-group row">
							
									<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{instancia}')}? 'has-error'">
									<label>Instância</label> <select class="form-control input-sm"
										th:field="*{instancia}">
										<option th:value="${instancia.idInstancia}"
											th:each="instancia : ${instancias}"
											th:utext="${instancia.nomeInstancia}" />
									</select>
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{dataCriacao}')}? 'has-error'">
									<label>Data Criação</label> <input type="date"
										class="form-control input-sm" th:field="*{dataCriacao}"
										autofocus="autofocus" />
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{dataInativacao}')}? 'has-error'">
									<label>Data Inativação</label> <input type="date"
										class="form-control input-sm" th:field="*{dataInativacao}"
										autofocus="autofocus" />
								</div>								
							</div>

							<div class="form-group row">

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{descricaoBase}')}? 'has-error'">
									<label>Descricao</label>
									<textarea class="form-control input-sm"
										th:field="*{descricaoBase}" autofocus="autofocus"
										placeholder="Descreva a Base" maxlength="50"></textarea>
								</div>
								
								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{ativo}')}? 'has-error'">
									<label>Ativo</label> <input type="checkbox"
										class="form-control input-sm" th:field="*{ativo}"
										autofocus="autofocus" />
								</div>

							</div>
						</fieldset>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<a th:href="@{/bases}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
			</div>

			<!--  Lista de Schemas -->

			<hr />
			<div class="panel-body">
				<h3>Schemas</h3>
				<hr />
				<table class="table" id="tblSchemas">
					<thead>
						<tr>
							<!-- 
							<th>idSchema</th>
							 -->
							<th>Nome do Schema</th>
							<th>Descrição</th>
							<th>Data de criação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="schema : ${schemas}">
							<td th:text="${schema.idSchema}" hidden />
							<td th:text="${schema.nomeSchema}"></td>
							<td th:text="${schema.descricaoSchema}"></td>
							<td th:text="${schema.dataCriacao}"></td>
						</tr>
					</tbody>
				</table>
				<hr />
			</div>

			<!-- Incluir Schema -->

			<div class="panel-body">
				<h3>Incluir Schemas</h3>
				<hr />
				<form class="form-horizontal" th:object="${schema}"
					th:action="@{/bases/salvarSchema}" method="POST"
					style="margin: 10px">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<div class="alert alert-danger"
									th:if="${#fields.hasAnyErrors()}">
									<div th:each="detailedError : ${#fields.detailedErrors()}">
										<span th:text="${detailedError.message}"></span>
									</div>
								</div>
							</div>
							<div class="form-group row">

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{nomeSchema}')}? 'has-error'">
									<label>Nome do Schema</label> <input type="text"
										class="form-control input-sm" th:field="*{nomeSchema}"
										autofocus="autofocus" placeholder="Informe o nome do Schema"
										maxlength="50" />
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{descricaoSchema}')}? 'has-error'">
									<label>Descrição Schema</label> <input type="text"
										class="form-control input-sm" th:field="*{descricaoSchema}"
										autofocus="autofocus" placeholder="Informe o nome da Base"
										maxlength="50" />
								</div>

								<div class="col-md-4"
									th:classappend="${#fields.hasErrors('*{dataCriacao}')}? 'has-error'">
									<label>Data de criacao</label> <input type="date"
										class="form-control input-sm" th:field="*{dataCriacao}"
										autofocus="autofocus" />
								</div>

							</div>

						</fieldset>
					</div>
					<div class="form-group row">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<button class="btn btn-sm btn-default">Limpar</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>
