<div class="panel-body">
	<div th:object="${base}">

		<div class="row">
		<div class="col-md-4">
				<label>Nome da Instância</label>
				<p th:text="*{instancia.nomeInstancia}"></p>
			</div>
			<div class="col-md-4">
				<label>Nome da Base</label>
				<p th:text="*{nomeBase}"></p>
			</div>
			<div class="col-md-4">
				<label>Descrição da Base</label>
				<p th:text="*{descricaoBase}"></p>
			</div>
			<div class="col-md-4">
				<label>Data de Criação</label>
				<p th:text="${#dates.format(base.dataCriacao, 'dd/MM/yyyy')}"></p>
			</div>
			<div class="col-md-4">
				<label>Data de Inativação</label>
				<p
					th:text="${base.dataInativacao} ? ${#dates.format(base.dataInativacao, 'dd/MM/yyyy')} : 'Nulo' "></p>
			</div>

			<div class="col-md-4">
				<label>Ativo</label>
				<p th:text="*{ativo}"></p>
			</div>
		</div>
			
		<!--  Schemas  -->
		<div>
			<hr />
			<h2>Schemas</h2>
			<table class="table" id="tblSchemas">
				<thead>
					<tr>
						<th>Nome Schema</th>
						<th>Descrição</th>
						<th>Data de Criação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="schema : *{schemas}">
							<td th:text="${schema.nomeSchema}"></td>
							<td th:text="${schema.descricaoSchema}"></td>
							<td th:text="${#dates.format(schema.dataCriacao, 'dd/MM/yyyy')}"></td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
