<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>Instância</title>
</head>
<body>
	<section layout:fragment="estiloPagina">
		<link rel="stylesheet" type="text/css"
			href="/DataTables/datatables.min.css" />
	</section>
	<section class="Layout-content" layout:fragment="corpo">
		<div class="container">
			<h2>Instâncias</h2>
			<hr />
			<table class="table table-striped" id="tblInstancias">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Ativo</th>
						<th>Nome Sgbd</th>
						<th>Versão SGBD</th>
						<th>IP</th>
						<th>Porta</th>
						<th>Local Instalação</th>
						<th>Editar</th>
						<th>Info</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="instancia : ${instancias}">
						<td th:text="${instancia.nomeInstancia}"></td>
						<td th:switch="${instancia.ativo}"><span
							class="glyphicon glyphicon-circle-arrow-up text-success"
							th:case="true">up</span> <span
							class="glyphicon glyphicon-off text-danger" th:case="false">down</span>
						</td>
						<td th:text="${instancia.sgbd.nomeSgbd}"></td>
						<td th:text="${instancia.versaoSgbd}"></td>
						<td th:text="${instancia.servidor.ipHost}"></td>
						<td th:text="${instancia.porta}"></td>
						<td th:text="${instancia.localInstalacao}"></td>
						<td><a
							th:href="'/instancias/editarInstancia/'+${instancia.idInstancia}">
								<span class="glyphicon glyphicon-pencil"></span>
						</a></td>
						<td><a th:attr="onclick=|detalhaInstancia(${instancia.idInstancia})|"><span
								class="glyphicon glyphicon-eye-open"></span></a></td>
						<!-- 
                    <td>
                    	<form th:object="${instancia}" th:action="@{/instancias/deletarInstancia}" method="POST" >
                   			<input type="text" name="idInstancia" th:value="${instancia.idInstancia}" hidden/>
                    		<button class="btn btn-sm btn-primary" type="submit"> Delete </button>
                    	</form>
                    </td>
 					 -->
					</tr>
				</tbody>
			</table>
			<p>
				<a class="btn btn-primary" href="/instancias/novaInstancia">Cadastrar
					Instância</a>
			</p>
		</div>
		<div class="modal fade" id="modalDetalhaInstancia" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Detalhes da Instância</h2>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="modalDadosInstancia"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<section class="Layout-content" layout:fragment="scriptPagina">
	<script type="text/javascript" src="DataTables/datatables.min.js"></script>
	<script type=text/javascript>
		$(function() {
			$("#tblInstancias")
					.DataTable(
							{
								dom : 'frtip',
								buttons : [],
								language : {
									"sEmptyTable" : "Nenhum registro encontrado",
									"sInfo" : "Mostrando de _START_ até _END_ de _TOTAL_ registros",
									"sInfoEmpty" : "Mostrando 0 até 0 de 0 registros",
									"sInfoFiltered" : "(Filtrados de _MAX_ registros)",
									"sInfoPostFix" : "",
									"sInfoThousands" : ".",
									"sLengthMenu" : "_MENU_ resultados por página",
									"sLoadingRecords" : "Carregando...",
									"sProcessing" : "Processando...",
									"sZeroRecords" : "Nenhum registro encontrado",
									"sSearch" : "Pesquisar",
									"oPaginate" : {
										"sNext" : "Próximo",
										"sPrevious" : "Anterior",
										"sFirst" : "Primeiro",
										"sLast" : "Último"
									},
									"oAria" : {
										"sSortAscending" : ": Ordenar colunas de forma ascendente",
										"sSortDescending" : ": Ordenar colunas de forma descendente"
									}
								}
							});

			$(".dt-buttons").addClass("btn btn-primary");
		})
		function detalhaInstancia(id) {
			$.ajax({
				type : "GET",
				url : "/instancias/exibirInstancia/" + id,
				success : function(data) {
					//alert( data );
					$('#modalDadosInstancia').html(data);
					$('#modalDetalhaInstancia').modal("show");
					// $.unblockUI();
				}
			});
		};
	</script>
</section>
</html>





